@media only screen and (max-width: 1199px) {
  .box {
    width: 4rem !important;
    height: 4rem !important;
  }
}
@media only screen and (max-width: 767px) {
  .box {
    width: 3.2rem !important;
    height: 3.2rem !important;
    font-size: 1.6rem !important;
  }
}
@media only screen and (max-width: 532px) {
  .box {
    width: 2.9rem !important;
    height: 2.9rem !important;
    font-size: 1.4rem !important;
  }
}
@media only screen and (max-width: 490px) {
  .box {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 1.2rem !important;
  }
}
@media only screen and (max-width: 359px) {
  .box {
    width: 1.6rem !important;
    height: 1.6rem !important;
    font-size: 1.1rem !important;
  }
}
@media only screen and (max-width: 305px) {
  .box {
    width: 1.4rem !important;
    height: 1.4rem !important;
    font-size: 1rem !important;
  }
}
.box {
  border: 1px solid #A4A4D6;
  background-color: white;
  color: #0a0b53;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  font-size: 2rem;
}
.boxLeft {
  border-left: 1px solid #4C4D98;
}
.boxRight {
  border-Right: 1px solid #4C4D98;
}
.boxBottom {
  border-bottom: 1px solid #4C4D98;
}
.boxTop {
  border-top: 1px solid #4C4D98;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}